<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <%- include('../componen/navbar.ejs')%>
    <h1>id : <%= user.id%></h1>
    <h1>nama : <%= user.nama%></h1>
    <h1>kelas : <%= user.kelas%></h1>
    <h1>alamat : <%= user.alamat%></h1>
</body>
</html>